name: Publish on TestPyPI

on:
  workflow_dispatch:

jobs:
  publish:
    name: Publish Package
    runs-on: ubuntu-latest
    environment:
      name: TestPyPI
      url: https://test.pypi.org/project/tw_invoice/${{ steps.version.outputs.version }}/
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Set up Python 3.10
        uses: actions/setup-python@v3
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip flit

      - name: Publish package
        env:
          FLIT_INDEX_URL: ${{ secrets.FLIT_INDEX_URL }}
          FLIT_USERNAME: ${{ secrets.FLIT_USERNAME }}
          FLIT_PASSWORD: ${{ secrets.FLIT_PASSWORD }}
        run: |
          flit publish

      - name: Generate version number
        id: version
        run: |
          echo "::set-output name=version::$(python -c 'import tw_invoice; print(tw_invoice.__version__)')"
